
{erl_opts, [
	{parse_transform, lager_transform}
]}.

{deps, [
	{lager, "2.0.0", {git, "https://github.com/basho/lager.git", {tag, "2.0.0rc1"}}},
	{erlsha2, ".*", {git, "https://github.com/vinoski/erlsha2.git", "HEAD"}},
	{riakc, "1.4", {git, "https://github.com/basho/riak-erlang-client.git", "1.4"}},
	{pbkdf2, ".*", {git, "https://github.com/whitelynx/erlang-pbkdf2.git", "HEAD"}}
]}.
