{erl_opts, [
	{parse_transform, lager_transform}
]}.

{deps, [
	{lager, "2.0.0", {git, "https://github.com/basho/lager.git", {tag, "2.0.0rc1"}}},
	{meck, "0.8.1", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.1"}}}
]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.

{lib_dirs, [".."]}.

{port_env, [
  {"(linux|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"}
]}.

{port_specs, [
  {"ebin/pre_physics_rk4.so", [
    "c_src/utils/nif_helpers.cpp",
    "c_src/utils/exceptions.cpp",
    "c_src/utils/angles.cpp",
    "c_src/utils/Vec.cpp",
    "c_src/utils/Quat.cpp",
    "c_src/utils/Physical.cpp",
    "c_src/utils/vector_nif_utils.cpp",
    "c_src/utils/pre_physics_rk4_nif.cpp"
  ]},
  {"ebin/quaternion.so", [
    "c_src/utils/nif_helpers.cpp",
    "c_src/utils/exceptions.cpp",
    "c_src/utils/angles.cpp",
    "c_src/utils/Vec.cpp",
    "c_src/utils/Quat.cpp",
    "c_src/utils/vector_nif_utils.cpp",
    "c_src/utils/quaternion_nif.cpp"
  ]},
  {"ebin/vector.so", [
    "c_src/utils/nif_helpers.cpp",
    "c_src/utils/exceptions.cpp",
    "c_src/utils/angles.cpp",
    "c_src/utils/Vec.cpp",
    "c_src/utils/vector_nif_utils.cpp",
    "c_src/utils/vector_nif.cpp"
  ]}
]}.

