{sub_dirs, ["rel", "apps/*"]}.

{erl_opts, [
	{src_dirs, ["src", "scripts"]}
]}.

{lib_dirs, ["deps", "apps"]}.

{deps, [
	{lager, "2.0.0", {git, "https://github.com/basho/lager.git", {tag, "2.0.0rc1"}}}
]}.

{pre_hooks, [
	{compile, "./hooks.sh pre_compile"},
	{clean, "./hooks.sh pre_clean"}
]}.
{post_hooks, [
	{compile, "./hooks.sh post_compile"}
]}.

{edoc_opts, [{def, {web, "<b>Web Api </b>"}}]}.

{cover_enabled, true}.

{eunit_opts, [verbose]}.

% vim: ft=erlang
