{sub_dirs, ["rel"]}.

{lib_dirs, ["deps"]}.

{deps, [
	{lager, "2.0.0", {git, "https://github.com/basho/lager.git", {tag, "2.0.0rc1"}}},
	{jsx, "1.2.1", {git, "https://github.com/Licenser/jsx.git", "master"}},
	{netstring, "1", {git, "https://github.com/lordnull/erlnetstr.git", "master"}},
	{meck, "0.7.1", {git, "https://github.com/eproxus/meck.git", {tag, "0.7.1"}}}
]}.

{port_env, [
	{"(linux|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"}
]}.
{port_specs, [
	{"ebin/quaternion.so", [
		"c_src/utils/nif_helpers.cpp",
		"c_src/utils/exceptions.cpp",
		"c_src/utils/angles.cpp",
		"c_src/utils/Vec.cpp",
		"c_src/utils/Quat.cpp",
		"c_src/utils/vector_nif_utils.cpp",
		"c_src/utils/quaternion_nif.cpp"
	]},
	{"ebin/vector.so", [
		"c_src/utils/nif_helpers.cpp",
		"c_src/utils/exceptions.cpp",
		"c_src/utils/angles.cpp",
		"c_src/utils/Vec.cpp",
		"c_src/utils/vector_nif_utils.cpp",
		"c_src/utils/vector_nif.cpp"
	]}
]}.

{pre_hooks, [
	{compile, "./hooks.sh pre_compile"},
	{clean, "./hooks.sh pre_clean"}
]}.
{post_hooks, [
	{compile, "./hooks.sh post_compile"},
	{'get-deps', "./hooks.sh post_get_deps"}
]}.

{edoc_opts, [{def, {web, "<b>Web Api </b>"}}]}.

{cover_enabled, true}.

{eunit_opts, [verbose]}.

% vim: ft=erlang
