{sub_dirs, ["rel"]}.

{lib_dirs, ["deps"]}.

{deps, [
	{lager, "0.9.4", {git, "http://github.com/basho/lager.git", {tag, "0.9.4"}}},
	{jsx, "1.2.1", {git, "https://github.com/Licenser/jsx.git", "master"}},
	{netstring, "1", {git, "https://github.com/lordnull/erlnetstr.git", "master"}},
	{meck, "0.7.1", {git, "https://github.com/eproxus/meck.git", {tag, "0.7.1"}}}
]}.

{pre_hooks, [
	{compile, "./hooks.sh pre_compile"},
	{clean, "./hooks.sh pre_clean"}
]}.
{post_hooks, [
	{compile, "./hooks.sh post_compile"},
	{'get-deps', "./hooks.sh post_get_deps"}
]}.

{edoc_opts, [{def, {web, "<b>Web Api </b>"}}]}.

{cover_enabled, true}.

{eunit_opts, [verbose]}.

% vim: ft=erlang

