{lib_dirs, ["../..", "../../deps"]}.

{deps_dir, "../../deps"}.

{deps, [
	{riakc, ".*", {git, "https://github.com/basho/riak-erlang-client.git", "HEAD"}},
	{erlsha2, ".*", {git, "https://github.com/vinoski/erlsha2.git", "HEAD"}}
]}.

{post_hooks, [{compile, "cat success_message"}]}.

{edoc_opts, [{def, {web, "<b>Web Api </b>"}}]}.

{cover_enabled, true}.
{eunit_opts, [verbose]}.

% vim: ft=erlang
