[
% It's generally a good idea to have a logger configured.
% Precursors uses lager.  For move information on the configuration here,
% see https://github.com/basho/lager
{lager, [
	{handlers, [
		{lager_console_backend, [info,true]},
		{lager_file_backend, [
			{file, "debug.log"},
			{level, debug},
			{size, 10485769},
			{date, ""},
			{count, 5}
		]}
	]},
	{crash_log, "crash.log"}
]},

% Disable the progress reports sasl normally outputs, but keep the error
% reports.
{sasl, [
	{errlog_type, error}
]},

{precursors_server, [
	% Define the list of nodes to be used in the precursors cluster.
	% At least one node should be defined.
	{nodes, ['precursors_server@127.0.0.1']},

	% Configure the authentication system
	% The authentication is based on backends, will fall-through.
	% {Callback_modoule :: atom(),
	% Priority :: pos_integer(),
	% StartArgs :: any())}
	% Backends are checked in order of priority from least to greatest
	% if no backends are set, everyone is denied.
	{auth_backends, [
		%{riak_auth, 1, ["localhost", 8081]} % rel
		{riak_auth, 1, ["localhost", 10017]} % devrel
	]},

	% Configure the listener supervisor; which ports to listen on etc.
	% If these settings are missing, all defaults are used.
	%{listener, [

		% The ssl listener; default values are shown.
	%	{ssl_port_opts, [
	%		{port, 6006},
	%		{certfile, "priv/precursors.crt"},
	%		{keyfile, "priv/key"},
	%		{poolsize, 5}
	%	]},

		% The Tcp listener; default values are shown.
	%	{tcp_port_opts, [
	%		{port, 6007},
	%		{poolsize, 5}
	%	]}
	%]},

	% Configuration for connection to the Riak database. This is required.
	%{riak_conn, [localhost, 8081]} % rel
	{riak_conn, [localhost, 10017]} % devrel

	% List of plugins to start at startup. These should be their own applications.
	%{plugins, [plugin_app]},

	% Configure the entity engine as well as the entity channel
	%{entity_engine, [
		% initial number of workers to work on serving up entity data.
		% default shown
	%	{workers, 1}
	%]},

	% Configure the channel for entities
	%{entity_channel, [
		% same as entity_engine
	%	{workers, 1}
	%]}
]}
].

% vim: ft=erlang
